.header-container {
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  height: 50px;
  display: flex;
  border-bottom: 1px solid #e5e7eb;
}

.header-day {
  position: absolute;
  top: 35px;
  font-size: 12px;
  transform: translateX(-50%);
  color: #6b7280;
}

.header-month {
  position: absolute;
  top: 5px;
  font-size: 18px;
  font-weight: 500;
  white-space: nowrap;
  color: #374151;
}